// Element 2.15.6 修改了 Table 的 DOM 结构和样式选择器，导致样式出错。
// 为了兼容老版本，此处采用冗余选择器的方法。

.el-table {
  color: #333;

  .cell {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 24px;
    font-size: 14px;
  }

  thead {
    color: #333;
  }

  th,
  td,
  .el-table__cell {
    padding: 8px 0;
    vertical-align: top;
  }

  th.is-leaf,
  td,
  th.el-table__cell.is-leaf,
  td.el-table__cell {
    // 2.15.2 修改 DOM 结构，使用后两行
    border-bottom: 1px solid #EEE;
  }


  th,
  th.el-table__cell {
    background: #333;
    color: #FFF;

    // 消除 ElementUI原本的设定
    // .el-table th > .cell { display: inline-block }
    // 带来的底部空白

    // TODO 嵌套 popover时高度不对
    &.is-leaf {
      font-size: 0;
      font-weight: 400;
    }

    // 2.13.0
    // 加入了表头部分 padding-left: 10px ; padding-right: 10px 的默认样式，需要覆盖
    & > .cell {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

// 空内容
.el-table__empty-block {
  min-height: 88px;
}

.el-table__empty-text {
  font-size: 24px;
  color: #999;
}

// 操作链接色
.el-table a {
  color: $blue;
}

.el-table .opt a {
  & + a {
    margin-left: 24px;
  }
}

// expand 模式魔改
.el-table__row .el-table__row--noexpand .el-table__expand-column .cell {
  display: none;
}

.el-table__expand-column .el-table__expand-icon {
  & > .el-icon {
    font-size: 20px;
    position: static;
    left: 0;
    top: 0;
    margin: 0;
  }
}

.el-table .el-table__expanded-cell[class*=cell] {
  padding: 24px;
}

.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {

}